*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
banana_server/.idea/encodings.xml
banana_server/.idea/misc.xml
banana_server/.idea/modules.xml
banana_server/.idea/workspace.xml
